:root {
  font-weight: 400;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;

  --main-bg-color: #fff;
  --section-bg-color: #f0f0f0;
  --color-secondary: #28d979;
  --color-contrast: #fff;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  place-items: center;
  background: var(--main-bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px 15px;
}

.section {
  padding: 12px;
  background: var(--section-bg-color);
  border-radius: 12px;

  .section__title {
    margin-bottom: 1em;
  }
}

.section_no-padding {
  padding: 0;
}

.profile {
  grid-column: 1 / 2;

  & .profile__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

.name {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;

  & .name__info {
    margin-top: auto;
  }
}

.languages {
  grid-column: 3 / span 2;

  .languages__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .languages__item {
    display: flex;
    justify-content: space-between;
  }
}

.experience {
  grid-column: 1 / span 3;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.job {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  h3 {
    font-weight: 500;
  }

  .job__tag {
    position: absolute;
    right: 10px;
    padding: 2px 10px;
    color: #ddf163;
    background-color: #7e731266;
    border-radius: 50px;
  }

  .job__content {
    display: flex;
    gap: 8px;
  }

  .job__info {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    width: 30%;
  }

  .job__features {
    width: 70%;
  }
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .tools__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tools__card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    padding: 16px 4px;
    background-color: var(--main-bg-color);
    border-radius: 6px;

    img {
      display: flex;
      width: 2rem;
      height: 2rem;
    }
  }

  .tools__tag {
    position: absolute;
    top: -12px;
    padding: 2px 10px;
    color: var(--color-contrast);
    background-color: #000;
    border-radius: 50px;
  }
}

.education {
  grid-column: 1 / span 2;

  .education__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.education-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  .education-card__title {
    font-weight: 500;
  }

  .education-card__tags {
    color: var(--color-secondary);
  }

  .education-card__tags_contrast {
    color: var(--color-contrast);
  }

  .education-card__tag {
    position: absolute;
    right: 12px;

    img {
      display: block;
      width: 1.5em;
      height: 1.5em;
    }
  }
}

.extra {
  display: flex;
  flex-direction: column;
  grid-column: 3 / span 2;
  justify-content: space-between;
}

.interests {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding: 4px 10px;
    text-align: center;
    background-color: var(--main-bg-color);
    border-radius: 40px;
  }
}

.contacts {
  color: var(--color-contrast);
  background-color: #000;

  .contacts__title {
    margin-bottom: 1em;
  }

  a {
    color: var(--color-contrast);
  }
}

.card {
  padding: 8px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}

.card_recent {
  color: var(--color-contrast);
  background: var(--color-secondary);
}

/* Progress of languages input */
.progress {
  label {
    margin-right: 0.5rem;
  }

  input[type='range'] {
    position: relative;
    width: 70%;
    height: 11px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
  }

  ::-webkit-slider-runnable-track {
    background: var(--section-bg-color);
    appearance: none;
  }

  ::-webkit-slider-thumb {
    width: 0;
    height: 40px;
    background: #fff;
    box-shadow: -200px 0 0 200px var(--color-secondary);
    appearance: none;
  }
}

.ripple-container {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: #0003;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 0.5s ease-out;
  pointer-events: none;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

/* Text elements change animation */
[contenteditable] {
  transition: all 0.3s ease;
}

[contenteditable]:focus {
  background-color: rgba(255 255 255 / 50%);
  outline: none;
  transform: scale(1.05);
}
